.container {
	/* Position fixed fix */
	margin-top: 25px;
	width: 100%;
	height: calc(100vh - 50px);
	display: flex;
	height: 2000px;
	display: flex;
	flex-flow: column nowrap;
}

.header {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}

.image {
	flex: 1;
}

.desc {
	flex: 1;
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
	line-height: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.name {
	font-weight: 800;
	font-size: 4rem;
}

.overview {
	display: flex;
	flex-flow: row nowrap;
}

.ico {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.ico,
.rarity,
.weapon {
	background-color: var(--bg-300);
	border-radius: 5px;
	margin-left: 4px;
	margin-right: 4px;
	font-size: 1.4rem;
}

.element {
	margin-left: 8px;
}
