.container {
	min-width: 200px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.title {
	color: var(--cl-100);
}

.close {
	margin-left: 4px;
	padding: 4px;
	border-radius: 4px;
	color: rgb(211, 211, 211);
	position: absolute;
	right: 5%;
}

.close:hover {
	color: rgb(228, 0, 0);
	background-color: hsl(240, 26%, 12%);
}
